<a href="https://colab.research.google.com/github/nitish-jha-hub/nitish-jha-hub/blob/main/basic_python_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# linux command in colab use exclamation mark in prefix
!ls
!python --version

sample_data
Python 3.12.12

In [ ]:
a=25
print(id(a))  # memory location if same for === strictly equal like a = 10 and b=a so id will be same for a and b
print(1 is 1) # error cant use with premitive data type use == instead
print(1 == "1") # false

In [ ]:
a=11
b=11
a=a+1
b=b
print(id(a), id(b))
print(a is b)

In [ ]:
print("hello")

hello

In [ ]:
a = input("enter any value to print:")

enter any value to print:78

In [ ]:
print(a)

78

In [ ]:
for i in range(5,1,-2): # 1st argument will include 2nd will exclude and last is jumping index
  print(i)

5
3

In [ ]:
arr = [10,11,5,4,9,8,50,54,51]
for inde,data in enumerate(arr):
  print(inde,data, sep="/", end=" ")

0/10 1/11 2/5 3/4 4/9 5/8 6/50 7/54 8/51

In [ ]:
for val in enumerate([1,2,3]):
  print(type(val))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

list

In [ ]:
a=[1,2,3]
b=a
print(a is b) # strictly equality operator as  === in js

# Example with == (checks for equality of value)
a = [1, 2, 3]
b = [1, 2, 3]
print(f"a == b: {a == b}")

c = a
print(f"a == c: {a == c}")

# Example with is (checks if two variables refer to the same object)
a = [1, 2, 3]
b = [1, 2, 3]
print(f"a is b: {a is b}")

c = a
print(f"a is c: {a is c}")

As you can see from the output:

- `a == b` is `True` because the values of the lists `a` and `b` are the same, even though they are different objects in memory.
- `a == c` is `True` because `c` is assigned the same list as `a`, so they have the same value and refer to the same object.
- `a is b` is `False` because `a` and `b` are distinct list objects in memory, even though they have the same contents.
- `a is c` is `True` because `c = a` makes both variables refer to the exact same list object in memory.

**Touple **



1.  immutable # cant change / update delete element
2.

In [ ]:
t = (1,2,3)
print(type(t))
print(t[2])

<class 'tuple'>
3

**Dictionary**

In [ ]:
d = {"name": "Nitish", "age": 21}

delete = d.pop("name") #delete key from dict pop method
# del d["age"] # del method to delete key from dict

d["name"] = "sohan"

# age = d.age # throw error
age = d.get("age") #None or value never throw error

print(age)
print(type(d))
print(d)

21
<class 'dict'>
{'age': 21, 'name': 'sohan'}

In [ ]:
my_dict = {"name": "Alice", "age": 30}
print(f"Initial dictionary: {my_dict}")

# 1. Adding a new key-value pair using direct assignment
my_dict["city"] = "New York"

# 2. Updating an existing key-value pair using direct assignment
my_dict["age"] = 31

# 3. Adding/updating multiple key-value pairs using update()
my_dict.update({"occupation": "Engineer", "city": "San Francisco"})

# 4. Adding an element to a list that is a dictionary value
my_dict["hobbies"] = ["reading", "hiking"]

my_dict["hobbies"].append("cooking")

In [ ]:
dict1 = {"a":"10"}
print(type(dict1))
print(dict1.get("a"))

**SET**

In [ ]:
s = set([1,1,1,2,3,4,5])
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

lambda function

In [ ]:
x = lambda x: x*x
x(8)

36

**function**

In [ ]:
def sum(a,b):
  return a+b

sum(1,2)

Request package to call api

In [ ]:
import requests

# Example: Search books with keyword "JavaScript"
url = "https://www.googleapis.com/books/v1/volumes?q=javascript"

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    print("Total Items:", data.get("totalItems"))
    if "items" in data:
        print("First Book Title:", data["items"][0]["volumeInfo"]["title"])

else:
    print("Failed with status:", response.status_code)