<a href="https://colab.research.google.com/github/nitish-jha-hub/nitish-jha-hub/blob/main/basic_python_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# linux command in colab use exclamation mark in prefix
!ls
!python --version

sample_data
Python 3.12.12

In [ ]:
print("hello")

hello

In [ ]:
a = input("enter any value to print:")

enter any value to print:78

In [ ]:
print(a)

78

In [ ]:
for i in range(5,1,-2): # 1st argument will include 2nd will exclude and last is jumping index
  print(i)

5
3

In [ ]:
arr = [10,11,5,4,9,8,50,54,51]
for inde,data in enumerate(arr):
  print(inde,data, sep="/", end=" ")

0/10 1/11 2/5 3/4 4/9 5/8 6/50 7/54 8/51

In [ ]:
for val in enumerate([1,2,3]):
  print(type(val))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

**Touple **



1.  immutable # cant change / update delete element
2.

In [ ]:
t = (1,2,3)
print(type(t))
print(t[2])

<class 'tuple'>
3

**Dictionary**

In [ ]:
d = {"name": "Nitish", "age": 21}

delete = d.pop("name") #delete key from dict pop method
# del d["age"] # del method to delete key from dict

d["name"] = "sohan"

# age = d.age # throw error
age = d.get("age") #None or value never throw error

print(age)
print(type(d))
print(d)

21
<class 'dict'>
{'age': 21, 'name': 'sohan'}

**SET**

In [ ]:
s = set([1,1,1,2,3,4,5])
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

lambda function

In [ ]:
x = lambda x: x*x
x(8)

36

Function